# Crash Web Scrape Notes (Python-BeautifulSoup)

## CAPSTONE-2 - ANSWER

### 7. CAPSTONE-2

- Scrape all Angola movies from IMDB
    - Movie names
    - Produced Year
    - IMDB Rank
- Save them to CSV file

(Hint: Use IMDB Advance search page https://www.imdb.com/search/title)

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url='https://www.imdb.com/search/title/?countries=ao'
r=requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')

#Scrape total movie numbers
tot_num=int(soup.find('div',{'class':'desc'}).find('span').text.split('of')[1].split()[0].strip())

#Scrape names, years and ranks of movies
start_num=1
while start_num<tot_num:
    url='https://www.imdb.com/search/title/?countries=ao&start={}'.format(start_num)
    start_num+=50

    #Scrape names, years and ranks of movies every pages
    rows=soup.find('div',{'class':'lister-list'})
    rows=rows.find_all('div',{'class':'lister-item mode-advanced'})

    names=[]
    years=[]
    ranks=[]

    for row in rows:
        name=row.find('h3',{'class':"lister-item-header"}).find('a').text.strip()
        names.append(name)
        year=row.find('span',{'class':"lister-item-year text-muted unbold"}).text.strip('()')
        years.append(year)
        try: #because some movies don't have ranks
            rank=row.find('div',{'class':"inline-block ratings-imdb-rating"}).find('strong').text.strip()
            ranks.append(rank)
        except:
            ranks.append('None')
    print(url+' >>>>complete')
    
#Create dataframe
df = pd.DataFrame({'Movie Name':names,'Movie Year':years,'Movie Rank':ranks})
df.head()

https://www.imdb.com/search/title/?countries=ao&start=1 >>>>complete
https://www.imdb.com/search/title/?countries=ao&start=51 >>>>complete
https://www.imdb.com/search/title/?countries=ao&start=101 >>>>complete

          Movie Name Movie Year Movie Rank
0             Rubber       2010        5.8
1         Wrong Cops       2013        6.0
2  Into the Okavango       2018        7.7
3        Voo Directo  2010–2011        7.6
4        Jikulumessu  2014–2015        8.2

In [2]:
#Save scraped data to CSV file
df.to_csv('Movies_of_Andora.csv')